.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.container > div {
  margin-bottom: 30px;
}
.team{
  display: flex;
  width: 50%;
  cursor: pointer;
  justify-content: center;
  img {
    width: 130px;
  }
}
