.headbar {
  background-color:#f0f0f0;
  text-align: center;
  position: relative;
}
.go-back  {
  cursor: pointer;
  font-weight: bold;
  color: dodgerblue;
  position: absolute;
  left: 10px;
  top: 50%; transform: translateY(-50%);
}
